.app-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background-color: aqua;
    padding: 2vh 2vw;
}

.main-container{
    display: flex;
    flex-direction: column;
}

.input-form{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.returned-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
}

h2{
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
}
.navbar{
    display: flex;
    gap: 20px;
}
.navbar >a{
    text-decoration: none;
}
.black-text{
    color: black;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}

.input-form{
    display: flex;
    flex-direction: column;
}